@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Tailwind 클래스를 유지하면서 커스텀 스타일 적용 */
body {
  color: #1a202c; /* text-gray-900 */
  background-color: #f7fafc; /* bg-gray-100 */
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
button {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
}